#{extends 'empty.html' /}
#{set title:'Registros' /}

<div class="table-responsive"> 
<table id="tableUsuarios" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Iglesia</th>
            </tr>
        </thead>

        <tbody>
        	#{list usuarios, as:'e'}
				<tr>
					<td>${e.nombre}</td>
					<td>${e.email}</td>
                    <td>${e.iglesia}</td>
				</tr>
			#{/list}
        </tbody>

        <tfoot>
            <tr>
                 <th>Nombre</th>
                <th>Email</th>
                <th>Iglesia</th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
	$(document).ready(function()
	{
		 $('#tableUsuarios').DataTable();		
	});
</script>