#{extends 'empty.html' /}
#{set title:'Preguntas' /}

<div class="table-responsive"> 
<table id="tableUsuarios" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Pregunta</th>
            </tr>
        </thead>

        <tbody>
        	#{list usuarios, as:'e'}
				<tr>
                    <td>${e.id}</td>
					<td>${e.pregunta}</td>
				</tr>
			#{/list}
        </tbody>

        <tfoot>
            <tr>
                <th>#</th>
                 <th>Pregunta</th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
	$(document).ready(function()
	{
		 $('#tableUsuarios').DataTable();		
	});
</script>