<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#1C1C1C">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#1C1C1C">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#1C1C1C">
    <link rel="icon" type="image/jpeg" href="/public/images/vnep-favicon.jpg" />
    <title>Hero Cash|#{get 'title' /}</title>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/fonts.css">
	<!-- Bootstrap Styles-->
    <link href="/public/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="/public/assets/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="/public/assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
   <link rel="stylesheet" type="text/css" href="/public/pace/corner.css">
   <link href="/public/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/xeditable/css/bootstrap-editable.css"> 

    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/public/assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="/public/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/public/assets/js/jquery.metisMenu.js"></script>
    <script src="/public/assets/js/custom-scripts.js"></script> 

    <script src="/public/pace/pace.min.js"></script>

    <script src="/public/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/public/xeditable/js/bootstrap-editable.min.js"></script>
    <!-- Select2
    <script src="/public/select2/js/select2.min.js"></script>
    <link rel="stylesheet"  href="/public/select2/css/select2.min.css">
    <script src="/public/select2/js/i18n/es.js"></script>-->
    <!-- TableExport-->
    <link rel="stylesheet" href="/public/tableExport/tableexport.min.css">
    <script src="/public/tableExport/xlsx.core.min.js"></script>
    <script src="/public/tableExport/FileSaver.min.js"></script>
    <script src="/public/tableExport/tableexport.min.js"></script>



</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Application/index"><h1 class="gloriaHalleluja">Q&A</h1><img src="/public/images/vino-nuevo-logo-black.png" width="200" height="50"></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/Application/autoEditar"><i class="fa fa-gear fa-fw"></i> Perfil de Usuario</a>
                        </li><!--
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configuraciones</a>
                        </li>
                        <li class="divider"></li>-->
                        <li><a href="/Login/logout"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                
                    <li>
                        <a href="/Application/crearUsuario"><i class="fa fa-desktop"></i>Preguntas</a>
                    </li>
                    
                    <!--
                    <li>
                        <a href="table.html"><i class="fa fa-table"></i> Responsive Tables</a>
                    </li>
                    <li>
                        <a href="form.html"><i class="fa fa-edit"></i> Forms </a>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="empty.html"><i class="fa fa-fw fa-file"></i> Empty Page</a>
                    </li> -->
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header gloriaHalleluja">
                            #{get 'title' /}
                        </h1>
                    </div>

                    #{doLayout /}
                </div> 
                 <!--/. ROW  -->
				 <footer><p style="text-align:right; float:right;"><img src="/public/images/vino-nuevo-logo-black.png" width="200" height="50"> <a href="http://vinonuevoelpaso.com/"></a></p></footer>
				</div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->   
   
</body>
</html>